.regular-button{
    margin-top: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 10px 0;
    font-size: 1.3em;
    background: linear-gradient(#48CFAE , #48CFAE);
    color: white;
    cursor: pointer;
    
    // transition-property: background-color transform;
    // transition-duration: 10s .1s;

    transition: transform .1s, background .2s;


    box-shadow: inset -3px -3px 0px #29826c;
    width: 100%;
    
    &:hover{
        background: #434A54;
        box-shadow: inset -3px -3px 0px #2d3138;
    }

    &:active{
        transform: scale(.95);
    }

}

.exit{
    background: #F25757; 
    box-shadow: inset -3px -3px 0px #af3535;
}